.container {
  max-width: 1000px;
  margin: 0px auto;
}

.videos {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, 320px);
  place-content: center;
}

@media screen and (max-width: 1200px){
  .container{
    padding: 4px 16px;
  }
}

@media screen and (max-width: 576px){
  .videos{
    grid-template-columns: repeat(auto-fill, 240px);
  }
}
